---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

PointerAlignment: Left
ReferenceAlignment: Left

AlwaysBreakTemplateDeclarations: Yes
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
ShortNamespaceLines: 1

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignTrailingComments: true

IncludeBlocks: Preserve
SortIncludes: CaseInsensitive

SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 3
